{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<section class="container mt-5">
    <h1>Passagens</h1>
    <form action="{% url 'minha_consulta' %}" method="post" class="col-8">
        {% csrf_token %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field|add_class:"form-control"}}
                {% for erro in field.errors %}
                    <span class="alert alert-danger d-block mt-2 w-auto">
                        {{erro}}
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
        {% for field in pessoa_form.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field|add_class:"form-control"}}
                {% for erro in field.errors %}
                    <span class="alert alert-danger d-block mt-2 w-auto">
                        {{erro}}
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</section>

{% endblock %}
