{% extends 'base.html' %}
{% block content %}
<section class="container mt-5">
    <h1>Revise seus dados</h1>
    <p>Origem: {{form.origem.value}}</p>
    <p>Destino: {{form.destino.value}}</p>
    <p>Ida: {{form.data_ida.value}}</p>
    <p>Volta: {{form.data_volta.value}}</p>
    <p>Data da pesquisa: {{form.data_pesquisa.value}}</p>
    <p>Classe de vôo: {{form.classe_viagem.value}}</p>
    <p>Informações extras: {{form.informacoes.value}}</p>
    <p>Email: {{form.email.value}}</p>
    <div>
        <a href="{% url 'index' %}" type="button" class="btn btn-secondary">
            Voltar
        </a>
        <a href="#proximo-passo" type="button" class="btn btn-primary">
            Confirmar
        </a>
    </div>
</section>

{% endblock %}
